# Environment variables (secrets - never push these)
.env
venv/

# Python
__pycache__/
*.pyc
venv/
.venv/

# Django
db.sqlite3
media/

# Node.js
node_modules/

# React build output
frontend/build/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local ML model files
detection/ml_model/
*.pkl
